<mat-paginator [length]="gameList.length" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
<button mat-raised-button color="primary" (click)="sort()">{{'Trier par nom' | uppercase}}<mat-icon class="mat-16">arrow_{{arrowWay}}</mat-icon> </button>
<div games fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="32px"><!--  fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="20px" fxLayoutAlign="space-evenly none" -->
    <a (click)="goto(mainGame.routeUrl)" *ngFor="let mainGame of gameList" fxFlex="25"><!--  fxFlex="25%" -->
      <app-item
        [mainGame]="mainGame"
        [fullView]="false"
      ></app-item>
    </a>
</div>