<mat-card *ngIf="!fullView" item>
  <img matCardImage src="{{mainGame.imgPath}}">
  <mat-card-header>
    <mat-card-title>{{mainGame.name}}</mat-card-title>
    <mat-card-subtitle>{{mainGame.version}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    {{mainGame.shortDesc}}
  </mat-card-content>
  <mat-card-actions align="end">
    <a mat-raised-button color="primary" *ngIf="mainGame.megaUrl" href="{{mainGame.megaUrl}}">Download from Mega.nz</a>
    <a mat-raised-button color="primary" *ngIf="!mainGame.megaUrl" disabled>Download link unavailable</a>
  </mat-card-actions>
</mat-card>

<mat-card *ngIf="fullView" full>
  <img matCardImage src="{{mainGame.imgPath}}">
  <mat-card-header>
    <mat-card-title>{{mainGame.name}}</mat-card-title>
    <mat-card-subtitle>{{mainGame.version}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    {{mainGame.shortDesc}}
  </mat-card-content>
  <mat-card-actions align="start">
    <a mat-raised-button color="primary" *ngIf="mainGame.megaUrl" href="{{mainGame.megaUrl}}">Download from Mega.nz</a>
    <a mat-raised-button color="primary" *ngIf="!mainGame.megaUrl" disabled>Download link unavailable</a>
  </mat-card-actions>
</mat-card>