mat-card[item] {
  margin: 10px 0;
  img[matCardImage] {
    margin: auto 0;
    width: 180px;
  }
  mat-card-actions {
    a {
      width: 100%;
      // &[mat-button] {}
      // &[mat-raised-button] {}
    }
  }
}

/* mat-card[item] {
  text-decoration: none;
  max-width: 280px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  min-height: 380px;
  margin: 5px;
  display: inline-block;
  vertical-align: top;
  img[matCardImage] {
    margin: 10px;
    width: 90%;
  }
  mat-card-header {
    mat-card-title {
      text-align: center;
    }
    mat-card-subtitle {
      text-align: center;
    }
  }
  // mat-card-content {}
  mat-card-actions {
    a {
      width: 100%;
      // &[mat-button] {}
      // &[mat-raised-button] {}
    }
  }
} */

mat-card[full] {
  margin: 37px 37px 0 0;
  width: 100%;
  text-align: center;
  img[matCardImage] {
    width: 300px;
    text-align: start;
  }
  a[mat-raised-button] {
    width: 100%;
  }
}
