<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
<link rel="stylesheet" href="https://i.icomoon.io/public/temp/4f12f2188e/UntitledProject/style.css">
<div class="card">
  <img class="game-icon" src="{{mainGame.imgUrl}}" alt="{{mainGame.imgAlt}}">
  <h1>{{mainGame.name}}</h1>
  <p class="title" *ngIf="mainGame.version">Version : {{mainGame.version}}</p>
  <p>{{mainGame.description}}</p>
  <div id="url" *ngIf="mainGame.legalUrls">
    <a target="_blank" *ngIf="mainGame.legalUrls.steam" href="{{mainGame.legalUrls.steam}}"><i class="fab fa-steam"></i></a>
    <a target="_blank" *ngIf="mainGame.legalUrls.gog" href="{{mainGame.legalUrls.gog}}"><i class="fa fa-gog"></i></a>
    <a target="_blank" *ngIf="mainGame.legalUrls.origin" href="{{mainGame.legalUrls.origin}}"><i class="fa fa-origin"></i></a>
    <a target="_blank" *ngIf="mainGame.legalUrls.epicGames" href="{{mainGame.legalUrls.epicGames}}"><i class="fa fa-epic-games"></i></a>
  </div>
  <a *ngIf="mainGame.megaUrl" href="{{mainGame.megaUrl}}"><button>Download from Mega</button></a>
  <a *ngIf="!mainGame.megaUrl"><button>No Mega URL</button></a>
</div>