<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
<header>
    <nav>
        <a routerLink="/" routerLinkActive="active" class="left">Home</a>
        <a routerLink="/games" routerLinkActive="active" class="left">Liste de jeux</a>
        <a href="https://github.com/NoAccount1/noaccount1.github.io" target="_blank" class="right"><i class="fa fa-github" style="color: #ffffff;"></i></a>
    </nav>
</header>
<main class="container">
    <router-outlet></router-outlet>
</main>