main.container {
    margin: 20px;
}

nav {
    border-radius: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
nav a {
    background-color: #333;
    border-radius: 50px;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav a.left {
    float: left;
}
nav a.right {
    float: right;
}
nav a:hover {
    background-color: #111;
}
nav a.active {
    background-color: #000
}