@import "/src/app/theme.scss";

button.sort {
  float: right;
  cursor: pointer;
  background-color: $p-dark;
  border: none;
  border-radius: 5px;
  flex-direction: row-reverse;
  font-weight: bold;
}
.games-container {
  display: flex;
  flex-direction: row;
  ::-webkit-scrollbar {
    width: 2px;
  }
  ::-webkit-scrollbar-track {
    background-color: #7c7c7c;
  } /* the new scrollbar will have a flat appearance with the set background color */

  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); 
  } /* this will style the thumb, ignoring the track */

  ::-webkit-scrollbar-button {
    background-color: #7c2929;
  } /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

  ::-webkit-scrollbar-corner {
    background-color: black;
  } /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */

}

